<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="Textos">TARJETA CREDITO</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <!--Agregar Tarjeta de Credito-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="Textos">{{ accion | uppercase }} TARJETA</h3>

                <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-user" [class.green-icon]="this.form.get('titular')?.valid" [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i></span>
                        <input formControlName="titular" type="text" class="form-control" placeholder="Titular" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
    
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-credit-card" [class.green-icon]="this.form.get('numeroTarjeta')?.valid" [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i></span>
                        <input formControlName="numeroTarjeta" maxlength="16" type="text" class="form-control" placeholder="Numero de Tarjeta" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
    
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-times" [class.green-icon]="this.form.get('FechaExpiracion')?.valid" [class.red-icon]="this.form.get('FechaExpiracion')?.invalid && this.form.get('FechaExpiracion')?.touched"></i></span>
                                <input formControlName="FechaExpiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key" [class.green-icon]="this.form.get('Cvv')?.valid" [class.red-icon]="this.form.get('Cvv')?.invalid && this.form.get('Cvv')?.touched"></i></span>
                                <input formControlName="Cvv" maxlength="3" type="password" class="form-control" placeholder="CVV" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg">{{ nombreButton }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!--Listas de Tarjetas-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="Textos">LISTA TARJETAS</h3>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let tarjeta of listasTarjetas">
                            <td> {{tarjeta.titular}} </td>
                            <td> {{tarjeta.numeroTarjeta}} </td>
                            <td> {{tarjeta.fechaExpiracion}} </td>
                            <td>
                                <i (click)="editarTarjeta(tarjeta)" class="far fa-edit text-info"></i>
                            </td>
                            <td>
                                <i (click)="eliminarTarjeta(tarjeta.id)" class="far fa-trash-alt text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
