<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="Textos">Tarjeta Credito</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <!--Agregar Tarjeta de Credito-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="Textos">Agregar Tarjeta</h3>

                <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="far fa-user" [class.green-icon]="this.form.get('Titular')?.valid" [class.red-icon]="this.form.get('Titular')?.invalid && this.form.get('Titular')?.touched"></i></span>
                        <input formControlName="Titular" type="text" class="form-control" placeholder="Titular" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
    
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-credit-card" [class.green-icon]="this.form.get('Tarjeta')?.valid" [class.red-icon]="this.form.get('Tarjeta')?.invalid && this.form.get('Tarjeta')?.touched"></i></span>
                        <input formControlName="Tarjeta" maxlength="16" type="text" class="form-control" placeholder="Numero de Tarjeta" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
    
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-times" [class.green-icon]="this.form.get('Expira')?.valid" [class.red-icon]="this.form.get('Expira')?.invalid && this.form.get('Expira')?.touched"></i></span>
                                <input formControlName="Expira" maxlength="5" type="text" class="form-control" placeholder="MM/YY" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group input-group-lg mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key" [class.green-icon]="this.form.get('Cvv')?.valid" [class.red-icon]="this.form.get('Cvv')?.invalid && this.form.get('Cvv')?.touched"></i></span>
                                <input formControlName="Cvv" maxlength="3" type="password" class="form-control" placeholder="CVV" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg">Accetar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!--Listas de Tarjetas-->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="Textos">Lista Tarjetas</h3>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let tarjeta of listasTarjetas; let i = index">
                            <td> {{tarjeta.Titular}} </td>
                            <td> {{tarjeta.Tarjeta}} </td>
                            <td> {{tarjeta.Expira}} </td>
                            <td>
                                <i class="far fa-edit text-info"></i>
                            </td>
                            <td>
                                <i (click)="eliminarTarjeta(i)" class="far fa-trash-alt text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
